html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  padding: 20px;
}
#chat {
  display: flex;
  height: calc(100vh - 40px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 90%;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
  outline: 0;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 14px;
  background: #00897B;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #FFF;
  border: 0;
}
.sendContainer{
  display: flex;
  flex-direction: row;
  width: 90%;
}

#messageInput{
  margin-right: 5px;
  border-radius: 50px; 
  flex: 1;
  
}
.message{
  padding: 16px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
  width: fit-content;
  border-radius: 4px;
}
/* .message div{

} */

.messages {
  width: 90%;
  overflow:scroll;
   margin: 20px 0;
   height: 50%;
  border: 1px solid #ddd;
  padding: 20px;
}